
* {
  box-sizing: border-box;
  /*faz com que a largura e altura de um elemento incluam o preenchimento (padding) e a borda (border) no cálculo, resultando em um layout mais previsível*/
}
body {
  background-color: rgb(26, 26, 26);
  /*Ele muda a cor de fundo do corpo da pagina principal*/
}

.card {
  color: white; /*Ele muda a cor da letra do .card no caso a div dele*/
  font-family: sans-serif; /* ele muda estilo da escrita*/
  border: 1px solid white; /*Borda branca pequena*/
  border-radius: 10px; /* ele arredonda a borda do container*/
  text-align: center; /* Ele alinha o texto no centro*/
  width: 20%; /* aumenta 20% da largura do container (div) */
  margin: 0 auto; /* margin 0 pra cima e pra baixo e auto pra esquerda e pra direita, isso faz a div ficar centralizada*/
  padding: 10px; /* ele afasta 10 px de todos os lados*/
  box-shadow: 5px 6px 0 white; /*sombra da caixa*/
}
.card img {
  width: 100%; /* largura de 100% da imagem*/
  border-radius: 8px; /* Cantos arredondados */
}

 